.page-header {
	position: relative;
	z-index: 50;

	.logo {
		display: block;

		svg {
			width: 16rem;
		}
	}
	&-menu{
		&-wrapper {
			color: var(--color-text);
			position: relative;
			padding: 1.5rem 0;
			z-index: 2;
			box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.2);

			.container {
				display: flex;
				justify-content: space-between;
				align-items: flex-end;

				@include media("<=tablet") {
					align-items: center;
				}
			}
		}
	}
}
