$breakpoints: (
	"full": 1920px,
	"xl": 1680px,
	"macbook": 1440px,
	"ipad-pro": 1366px,
	"desktop-md": 1200px,
	"desktop": 1024px,
	"tablet": 768px,
	"phone": 667px,
	"phone-md": 568px,
	"phone-sm": 480px,
	"phone-xs": 375px
);
// ligatured operators ≥ ≤

// keywords
$media-expressions: (
	"iphoneX":
	"(min-width: 812px) and (max-height: 414px) and (orientation: landscape)",
	"screen": "screen",
	"print": "print",
	"handheld": "handheld",
	"landscape": "(orientation: landscape)",
	"portrait": "(orientation: portrait)",
	"retina2x": "(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)",
	"retina3x": "(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)"
);

// Colors theme
$brand-color: #637b8c;
$accent-color: #e25262;
// $accent-color: $brand-color;

// font-family
$base-main-font: "Arial";
$base-font-sans-serif: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
$base-font-serif: "Times New Roman", "Times", "Baskerville", "Georgia", serif;
$base-font: $base-main-font, $base-font-sans-serif;
$accent-font: $base-font;

// Headers
// name use for media query `<${name}`. See `$breakpoints` variable for a possible key.
$h1-h6-font-size: (
	// --------- h1 ---- h2 ----h3 ---- h4 -- h5 -- h6 ---
	"default": (4rem, 3.5rem, 3rem, 2.5rem, 2rem, 16px),
	/*"tablet": (4rem, 3.5rem, 3rem, 2.5rem, 2rem, 16px)*/
);

// Container
$gutter: 3rem;
$container: (
	"default": 1240px,
	// "lg": 1400px
);

// Buttons size
//
// x - top/bottom padding
// y - left/right padding
// b - border
// r - radius
// fz - font-size
//
$btnsSize: (
	"default": (
		"default": (
			"y": 1rem,
			"x": 2rem,
			"b": 1px,
			"r": 3px,
			"fz": 16px
		),
		// if need other size button
		// 'lg': ('y': 18px, 'x': 35px, 'b': 3px, 'r': 0, 'fz': 22px)
	),
	/*"phone": (
		"default": (
			"y": 1rem,
			"x": 2rem,
			"b": 1px,
			"r": 3px,
			"fz": 13px
		)
	)*/
);
// Input padding left and right
$input-padding-x: map-get(
		map-get(map-get($btnsSize, "default"), "default"),
		"x"
);

// Form elements styling
$input-color: var(--color-text);
$input-placeholder-color: var(--color-caption);
$input-bg-color: var(--color-white);
$input-radius: 3px;
$input-border-color: var(--color-border);
$input-focus-border-color: var(--color-brand);

$form-theme-color: $brand-color; // checkbox, radio, datepicker theme color
$checkbox-size: 18px;
$radio-size: $checkbox-size;

$label-fz: 13px;
$label-color: var(--color-caption);

$error-color: #e04562;
$error-bg-color: lighten($error-color, 35%);

$form-col-gutter: 15px;
$form-row-margin: $form-col-gutter * 1.5;

$colors: (
	"white": #ffffff,
	"black": #161613,
	"brand": $brand-color,
	"brand-dark": darken($brand-color, 10%),
	"brand-light": lighten($brand-color, 10%),
	"accent": $accent-color,
	"accent-dark": darken($accent-color, 10%),
	"accent-light": lighten($accent-color, 10%),
	"text": #161613,
	"text-secondary": #646464,
	"caption": #b0aeae,
	"border": #dddddd,
	"background": #F8F8F7,
	"error": $error-color,

	"dark": #07101F,
	"gray": #F8F8F7,
	"pink": #FBD1D7,
	"magenta": #CC3F5F,
	"light-pink": #FFF5F6,
	"light-pink-review": #FCEEEE,
	"copywriter": #00AB5A,
	"yellow": #EDBA2B,
	"yellow-secondary": #FFAC30,
	"yellow-light-review": #FAF2E5,
	"orange": #F59563,
	"orange-secondary": #F37678,
	"green": #8BD2D4,
	"success": #098080,
	"warning":#D39F0B,
);

@function HexToRGB($hex) {
	@return red($hex), green($hex), blue($hex);
}

@function cl($name, $opacity: false) {
	@if $opacity {
		@return rgba(var(--color-#{unquote($name)}--rgb), $opacity);
	} @else {
		@return var(--color-#{unquote($name)});
	}
}
