---
title: Don't forget to change tittle - for this page
---
{% include 'src/template/head.html' %}

<body>
<div class="wrapper">
	{% include 'src/template/header.html' %}
	<main class="main">
		<section>
			<div class="container pt-2 lg:pt-5">
				<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores autem exercitationem, minima numquam perspiciatis suscipit? Accusantium aperiam eius laboriosam nam natus non, quas. Commodi, eius ipsam. Ipsam quaerat, quis!</h1>
				<div class="px-3 py-10 md:px-12 lg:px-15 xl:px-18">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit inventore maxime non. Aliquid dolorum excepturi exercitationem illo, iusto mollitia natus nesciunt praesentium quam repellat soluta tempora vitae voluptate, voluptatem voluptates.
				</div>
				<input type="text" placeholder="lorem">
				<a href="#" class="btn">lorem</a>
			</div>
		</section>
	</main>
	{% include 'src/template/footer.html' %}
</div>
{% include 'src/template/includes.html' %}
</body>
</html>
